li.about-nav
  border-radius :  5px
  background    :  linear-gradient(top, #A5D2E7, #76889E);
  box-shadow    :  0 0 5px #76889E
  text-align    :  center
  padding       :  5px
  engrave-text()
  &:hover
    background    :  linear-gradient(top, #95C2D7, #66788E);
    box-shadow    :  0 0 8px #76889E

  h4
    padding-bottom: 5px
    margin-right: 5px
