
.about-me
  section
    padding: 5px
    margin-left: 0px
    font-family: Helvetica, arial, freesans, clean, sans-serif
    font-size: 14px
    line-height: 1.6

    h4
      text-decoration: underline
    ul
      list-style: none
    li
      padding: 5px
      margin: 5px
    li.geeklist
      background     :  antiqueWhite
      width          :  159px
      height         :  50px
      padding-top    :  6px
      padding-bottom :  0px
      margin-left    :  10px
      border-radius(5px)
