.about-me,
.about-site
  section
    padding: 5px
    margin-left: 0px
    font-family: Helvetica, arial, freesans, clean, sans-serif
    font-size: 14px
    line-height: 1.6

    h4
      text-decoration: underline
    ul
      list-style: none
    li
      padding: 5px
      margin: 5px

.about-me,
  section
    li.stackoverflow
      img
        width: 170px
        height: 47px
        border-radius(5px)
    li.linkedin
      img
        width: 168px
        height: 37px
    li.geeklist
      background     :  antiqueWhite
      width          :  159px
      height         :  50px
      padding-top    :  6px
      padding-bottom :  0px
      margin-left    :  10px
      border-radius(5px)
    li.wordpress
      img
        width: 170px
        

.about-site
  li a
    margin-left: 10px
