li.blog-nav
  border-radius :  5px
  background    :  linear-gradient(top, #A5D2E7, #76889E);
  box-shadow    :  0 0 5px #76889E
  text-align    :  left
  margin        :  5px 2px 5px 2px
  padding       :  5px
  engrave-text()
  &:hover
    background    :  linear-gradient(top, #95C2D7, #66788E);
    box-shadow    :  0 0 8px #76889E

  h3
    padding-bottom: 5px
    margin-right: 5px
  p 
    padding-top: 5px
    padding-bottom: 5px
    padding-right: 5px
    font-size: 10px
    font-style: italic
    font-family: monospace
