.blog-post h1
  text-shadow: 2px 2px 5px #999

.blog-post ul, .blog-post ol, .blog-post dl
  margin-left: 35px !important

.blog-post ul.tags, .blog-post ol.tags, .blog-post dl.tags
  margin-left: 5px !important
  margin-bottom: 20px

.blog-post img
  margin: 15px

.blog-post p
  margin: 10px 5px 10px 5px
