.blog-post
  background: white
  padding: 10px
  margin: 5px
  border-radius: 5px
  font-size: 16px
  line-height: 26px
  font-family: Arial, Tahoma, Helvetica, FreeSans, sans-serif


.blog-post ul
  margin-top: 15px
  margin-bottom: 10px

.blog-post .created
  margin-right: 10px
  margin-top: 5px
  font-weight: normal

.blog-post h2 
  margin-top: 20px
  margin-bottom: 10px

.blog-post .syntaxhighlighter
  margin: 20px
  width: 935px
  background-color: #E5F3F2 !important
  border-radius(5px)
  border: 1px solid rgba(9, 8, 8, 0.45)
  font-size: 14px
  line-height: 20px
