@import nib
@import github-nav
@import markdown-body
@import markdown-highlight
@import blog
@import blog-nav
@import about

global-reset()

widget-border(radius = 5px, padding = 10px, margin = 5px) 
  background-color: rgba(2, 2, 2, 0.3);
  border-radius: radius 
  padding: padding
  margin: margin

panel(border-radius = 5px) 
  position: absolute
  background-color: rgba(2, 2, 2, 0.3);
  border-radius: border-radius 
  padding: 10px

engrave-text()
  text-shadow: rgba(253, 204, 197, 0.4) 1px 1px 0px

left-column-width  =  250px
right-column-width =  900px
header-height      =  130px
gutter             =  10px
panel-margin       =  21px

h1 h2 h3 h4
  font-weight :  bold
  font-family :  monospace

h1 
  font-size   :  30px
h1:first
  text-shadow: 2px 2px 5px #999;  

h2
  font-size   :  26px
h3
  font-size   :  24px
h4
  font-size   :  18px

strong
  font-weight: bold
em 
  font-style: italic
a 
  color: #131392
  cursor:  pointer
  engrave-text()
  text-decoration: none
  &:hover
    text-decoration: underline

nav a
  color:  #040449
  &:hover
    text-decoration: inherit

ul 
  list-style-type: disc

ol
  list-style-type: decimal
  
dl li
  list-style: initial

nav ul li
  display: block

html
  height: 100%
    
body
  width: 100%
  height: 100%
  margin: 0
  padding: 0
  image: '/images/noise.png'
  background-color: rgba(198, 223, 247, 0.9)

.wrapper
  width: left-column-width + right-column-width + panel-margin + gutter
  margin: 10px auto 10px auto
  position: relative

header
  panel(5px 0px 0px 0px)
  left: 0
  top: gutter
  width: left-column-width
  height:  header-height

  h1
    margin: 0px 0px 10px 20px
    
    line-height: 30px
  img
    float: left
    border: 1px solid #DDD
    border-radius: 3px
    margin-left: 20px
  nav
    text-align :  center
    height: header-height + 20px

    ul
      margin-top: 18px
      li
        margin     :  8px
        font-size  :  16px

        &:hover
          transition: font-size 100ms 0ms ease-in
          font-size: 18px

.wrapper > nav
  engrave-text()
  color: #222429

  left: 0
  top: gutter + header-height + panel-margin

  panel(0px 0px 0px 5px)
  width: left-column-width
  ul
    li
      margin:  5px 0px 5px 0px

.wrapper > section
  panel(0px 5px 5px 0px)
  left: 0 + left-column-width + panel-margin
  top: gutter 
  width: right-column-width

  engrave-text()

  article 
    padding: 10px
    float: top

.icon.star
  background-image: url("/images/star.png");
  background-repeat: no-repeat
  padding-left: 20px

