@import nib
@import github-nav
@import markdown-body
@import markdown-highlight
@import blog

global-reset()

widget-border(radius = 5px, padding = 10px, margin = 5px) 
  background-color: rgba(2, 2, 2, 0.3);
  border-radius: radius 
  padding: padding
  margin: margin

engrave-text()
  text-shadow: rgba(253, 204, 197, 0.4) 1px 1px 0px

sidebar-width       =  250px
sidebar-margin-left =  10px
sidebar-right        =  sidebar-margin-left + sidebar-width + 11px

header-height = 90px
main-height = 500px

h1 h2 h3 h4
  font-weight :  bold
h1
  font-size   :  30px
h2
  font-size   :  26px
h3
  font-size   :  24px
h3
  font-size   :  18px

em 
  font-style: italic

a 
  color:  #040449
  cursor:  pointer
  text-decoration: none
  engrave-text()

  &:hover
    text-decoration: inherit
    
body
  width: 100%
  image: '/images/noise.png'
  background-color: rgba(198, 223, 247, 0.9)
header
  widget-border(0px    5px    0px    0px,
                10px   10px   10px   0px,
                10px   10px   0px    sidebar-right)
  engrave-text()
  color: #222429
  height:  header-height
  float: top

nav
  width      :  sidebar-width
  text-align :  center
  float: left

  ul
    li
      margin     :  8px
      font-size  :  16px
      transition :  font-size 100ms 0ms ease-in

  h1
    padding: 10px
    line-height: 30px
    text-align: center

body > nav
  widget-border(5px    0px    0px    0px,
                0px   10px   0px   0px,
                0px    10px   0px  10px)
  height: header-height + 20px

  ul li:hover
        transition: font-size 100ms 0ms ease-in
        font-size: 18px
        

article > nav
  widget-border(0px    0px    0px    5px,
                10px   10px   0px   0px,
                0px    10px   10px  10px)

article
  engrave-text()

  section 
    widget-border(0px    0px    5px    0px,
                  10px   10px   10px   0px,
                  2px    10px   10px   sidebar-right)
    padding: 10px
    float: top
    min-height: main-height 

.avatar
  padding: 2px
  border: 1px solid #DDD
  border-radius: 3px
  float: right

.icon.star
  background-image: url("/images/star.png");
  background-repeat: no-repeat
  padding-left: 20px

