td.linenos
  background-color: #f0f0f0
  padding-right: 10px

span.lineno
  background-color: #f0f0f0
  padding: 0 5px 0 5px

pre
  line-height: 125%

body .hll
  background-color: #ffffcc

body
  background: #f8f8f8

body .c
  color: #8f5902
  font-style: italic

body .err
  color: #a40000
  border: 1px solid #ef2929

body .g
  color: #000000

body .k
  color: #204a87
  font-weight: bold

body .l
  color: #000000

body .n
  color: #000000

body .o
  color: #ce5c00
  font-weight: bold

body .x
  color: #000000

body .p
  color: #000000
  font-weight: bold

body .cm
  color: #8f5902
  font-style: italic

body .cp
  color: #8f5902
  font-style: italic

body .c1
  color: #8f5902
  font-style: italic

body .cs
  color: #8f5902
  font-style: italic

body .gd
  color: #a40000

body .ge
  color: #000000
  font-style: italic

body .gr
  color: #ef2929

body .gh
  color: #000080
  font-weight: bold

body .gi
  color: #00A000

body .go
  color: #000000
  font-style: italic

body .gp
  color: #8f5902

body .gs
  color: #000000
  font-weight: bold

body .gu
  color: #800080
  font-weight: bold

body .gt
  color: #a40000
  font-weight: bold

body .kc
  color: #204a87
  font-weight: bold

body .kd
  color: #204a87
  font-weight: bold

body .kn
  color: #204a87
  font-weight: bold

body .kp
  color: #204a87
  font-weight: bold

body .kr
  color: #204a87
  font-weight: bold

body .kt
  color: #204a87
  font-weight: bold

body .ld
  color: #000000

body .m
  color: #0000cf
  font-weight: bold

body .s
  color: #4e9a06

body .na
  color: #c4a000

body .nb
  color: #204a87

body .nc
  color: #000000

body .no
  color: #000000

body .nd
  color: #5c35cc
  font-weight: bold

body .ni
  color: #ce5c00

body .ne
  color: #cc0000
  font-weight: bold

body .nf
  color: #000000

body .nl
  color: #f57900

body .nn
  color: #000000

body .nx
  color: #000000

body .py
  color: #000000

body .nt
  color: #204a87
  font-weight: bold

body .nv
  color: #000000

body .ow
  color: #204a87
  font-weight: bold

body .w
  color: #f8f8f8
  text-decoration: underline

body .mf
  color: #0000cf
  font-weight: bold

body .mh
  color: #0000cf
  font-weight: bold

body .mi
  color: #0000cf
  font-weight: bold

body .mo
  color: #0000cf
  font-weight: bold

body .sb
  color: #4e9a06

body .sc
  color: #4e9a06

body .sd
  color: #8f5902
  font-style: italic

body .s2
  color: #4e9a06

body .se
  color: #4e9a06

body .sh
  color: #4e9a06

body .si
  color: #4e9a06

body .sx
  color: #4e9a06

body .sr
  color: #4e9a06

body .s1
  color: #4e9a06

body .ss
  color: #4e9a06

body .bp
  color: #3465a4

body .vc
  color: #000000

body .vg
  color: #000000

body .vi
  color: #000000

body .il
  color: #0000cf
  font-weight: bold

