
<iframe src="http://doctoc.herokuapp.com" class="doctoc-frame">
  <p>Your browser does not support iframes, but you can see the app by clicking on the link below.</p>
  <a href="http://doctoc.herokuapp.com">doctoc</a>
</iframe>

<p>Hosted at <a href="http://doctoc.herokuapp.com">doctoc.herokuapp.com</a></p>
