<article class="about-me">

<section>
  <h4>follow me</h4>

  <ul>
    <!-- twitter-->
    <li>
      <iframe allowtransparency="true" frameborder="0" scrolling="no" src="http://platform.twitter.com/widgets/follow_button.1347008535.html#_=1348414196784&amp;dnt=true&amp;id=twitter-widget-0&amp;lang=en&amp;screen_name=thl0&amp;show_count=false&amp;show_screen_name=true&amp;size=m" class="twitter-follow-button" style="width: 191px; height: 20px; " title="Twitter Follow Button" data-twttr-rendered="true"></iframe>
    </li>

    <!-- github -->
    <li>
      <iframe src="http://ghbtns.com/github-btn.html?user=thlorenz&type=follow&count=false"
        allowtransparency="false" frameborder="0" scrolling="0" width="165px" height="20px"></iframe>
    </li>

  </ul>
</section>
<section>
  <h4>learn more about me</h4>
  <ul>
    <!-- linked in -->
    <li>
      <a href="http://www.linkedin.com/pub/thorsten-lorenz/49/110/8a9">
        <img src="http://www.linkedin.com/img/webpromo/btn_viewmy_160x25.png" width="160" height="25" border="0" alt="View Thorsten Lorenz's profile on LinkedIn">
      </a>
    </li>

    <!-- stackoverflow -->
    <li>
      <a href="http://stackexchange.com/users/34461/thorsten-lorenz">
        <img src="http://stackexchange.com/users/flair/34461.png" width="208" height="58" alt="profile for Thorsten Lorenz on Stack Exchange, a network of free, community-driven Q&amp;A sites" title="profile for Thorsten Lorenz on Stack Exchange, a network of free, community-driven Q&amp;A sites" />
      </a>
    </li>
  </ul>
</section>
</article>
