<body>

  <div class="wrapper">
    <header>
      <h1>Thorsten Lorenz</h1>
      <img src="/images/avatar.jpeg" class="avatar"/>
      <nav>
        <ul>
          <li><a href="#/blog">blog</a></li>
          <li><a href="#/github">github</a></li>
          <li><a href="#/about">about</a></li>
        </ul>
      </nav>
    </header>
    <nav>
      <ul></ul>
    </nav>

    <section>
    </section>
  </div>
  
</body>
