<body>
  <nav>
    <ul>
      <li><a href="#/github">Github</a></li>
      <li><a href="#/blog">Blog</a></li>
      <li><a href="#/stackoverflow">Stack Overflow</a></li>
      <li><a href="#/contact">Contact</a></li>
    </ul>
  </nav>

  <header>
    <img src="/images/avatar.jpeg" class="avatar"/>
    <h1>Thorsten Lorenz</h1>
  </header>

  <article>
    <nav>
      <ul></ul>
    </nav>
    <section>
      <title>Gitub Readme</title>
      <p>Content</p>
    </section>
  </article>

  
</body>
