<body>

  <div class="wrapper">
    <header>
      <h1>Thorsten Lorenz</h1>
      <img src="/images/avatar.jpeg" class="avatar"/>
      <nav>
        <ul>
          <li><a href="#/blog">blog</a></li>
          <li><a href="#/github">github</a></li>
          <li><a href="#/about">about</a></li>
        </ul>
      </nav>
    </header>
    <nav>
      <ul></ul>
    </nav>

    <section>
      <div class="content"></div>
      <div class="disqus">
        <div id="disqus_thread"></div> 
        <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
      </div>
    </section>
  </div>

  <!-- disqus init script -->
  <script type="text/javascript">
    var disqus_shortname = 'thlorenz';
    var disqus_config = function () { 
        this.language = "en";
      };

    (function() {
      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
      dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
  </script>
</body>
