<body>

  <div class="sidebar">
    <header>
      <h1>Thorsten Lorenz</h1>
      <img src="/images/avatar.jpeg" class="avatar"/>
      <nav>
        <ul>
          <li><a href="#/blog">Blog</a></li>
          <li><a href="#/github">Github</a></li>
          <li><a href="#/about">About</a></li>
        </ul>
      </nav>
    </header>
    <nav>
      <ul></ul>
    </nav>
  </div>

  <article>
    <section>
    </section>
  </article>
  
</body>
