<!DOCTYPE html>
<html>
<head>
  {{> head }}
</head>
<body>

  <nav class="navbar navbar-inverse row">
    <div class="navbar-inner">
        <div class="span2 avatar">
          <img src="/img/avatar.jpg">
        </div>
        <h1 class="offset4">Thorsten Lorenz</h1>
        <div class="offset4">
          <ul class="nav main">
            <li> <a href="/blog">blog</a> </li>
            <li> <a href="/projects">projects</a> </li>
            <li> <a href="/about">about</a> </li>
          </ul>
        </div>
    </div>
  </nav>

  <section class="row main">
      <nav class="sidebar span4">
        <ul class="nav nav-list">
          {{#if model }}
          {{#if model.sidebar}}
            {{{ exec sidebar model.sidebar }}}
          {{/if}}
          {{/if}}
        </ul>
      </nav>
      <article class="content span11">
        {{#if model }}
        {{#if model.content}}
          {{{ exec content model.content }}}
        {{/if}}
        {{/if}}
      </article>
    </div>
  </section>
</div>

</body>
{{> scripts }}
</html>
